/* styles/globals.css */

@font-face {
  font-family: 'Dancing Script';
  src: url('/fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
  font-weight: 900; /* Adjust if you need specific weights */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  box-shadow: 0px 0px 5px blue;
  animation: shadow 1s linear 0s infinite alternate;
}

@keyframes shadow {
  0% {
    box-shadow: 0px 0px 5px blue;
  }
  30% {
    box-shadow: 0px 0px 15px blue;
  }
  60% {
    box-shadow: 0px 0px 25px blue;
  }
  100% {
    box-shadow: 0px 0px 40px blue;
  }
}

.icon{
  color: blue;
}
